#form-content {
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

#form-content input {
    width: 100%;
    border: 2px solid #e3e3e3;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 8px 2px;
    font-size: 1rem;
}

#form-content form input[type="submit"]:hover {
    cursor: pointer;
}