body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 20px;
  flex-direction: column;
}

.content {
  background-color: #fafafa;
  border: 2px solid #e3e3e3;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  color: #1a73e8;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #0b49a3;
  text-decoration: underline;
}