div {
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 5px;
}

#filter label {
    margin-right: 2em;
}

table {
    width: 100%;
}

thead tr {
    background-color: rgb(22, 130, 253);
    color: whitesmoke;
}

tbody tr:nth-child(even) {
    background-color: rgb(144, 196, 255);
}

td {
    border-bottom: 3px solid black;
}