#filter {
    border-color: #000000;
    border: 1px solid;
    padding: 1em;
}

#results {
    border-color: #000000;
    border: 1px solid;
    padding: 1em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr, th, td {
    border: 1px solid #000000;
}

div {
    margin-bottom: 1em;
}
