#filter {
    padding: 1em;
    border: 1px solid black;
}

#results {
    padding: 1em;
    border: 1px solid black;
}

div {
    margin-bottom: 10px;
}

#results table {
    width: 100%; 
    padding: 0;
    margin: 0;  
}

#results thead tr {
    background-color: cornflowerblue;
    color: whitesmoke;
    font-weight: bold;
    border: 0;
}

#results tr:nth-child(even) {
    background-color:rgb(215, 233, 240);
}

td {
    border-bottom: 2px solid black;
}